body {
  background-image: url("../../assests/imgbod.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
form {
  background-color: rgba(149, 109, 157, 0.5);
  border-radius: 10px;
  width: 400px;
}
input{
    margin: auto;
    display: block;
}
.but{
    border: none;
    border: 1px solid rgba(81, 16, 94, 0.6);
}
